body {
  color: white;
  font-family: rockwell;
  background-image: url("Images/pexels-felix-mittermeier-956999.jpg");
  background-size: cover;
  text-align: center;
}
li {
  font-size: 30px;
}
a {
  font-size: 30px;}